:root{
    --SourceHanSerifSC: "SourceHanSerif";
    --AlibabaPuHuiTi: "Alibaba PuHuiTi";
}

@font-face {
    font-family: "Alibaba PuHuiTi";
    src: url("https://www.unpkg.com/font-online/fonts/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular.woff") format("woff");
}

@font-face {
    font-family: "SourceHanSerif";
    src: url("https://www.unpkg.com/font-online@1.3.0/fonts/SourceHanSerif/SourceHanSerif-Regular.otf"),
         url("https://www.unpkg.com/font-online/fonts/SourceHanSerif/SourceHanSerif-Regular.otf");
}